body {
    font-family: "Montserrat", sans-serif;
    background-color:rgb(250, 250, 255);
}

.encabezado {
    font-family: Arial;
    text-align: center;
}

.topnav {
    border: 2px solid #aaaaaa;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgb(121, 121, 121);
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px;
}

.topnav a:hover {
    background-color: rgb(213, 230, 236);
}

.topnav a.active {
    background-color: rgb(139, 206, 238);
}

.primera-linea {
    display: flex;
    justify-content: center;
}

.fotocv {
    float: left;
    border: 2px solid #aaaaaa;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgb(121, 121, 121);
}

.div_datos {
    float: right;
    border: 2px solid #aaaaaa;
    text-align: center;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 100px;
    box-shadow: 5px 5px 5px rgb(121, 121, 121);
    height: fit-content;
    transition: all ease 0.5s;
}

.div_datos p {
    text-align: center;
}

.div_datos:hover {
    transform:scale(125%);
}

.nombre {
    padding-left: 10px;
    padding-right: 10px;
}

.segunda-linea {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.div_contacto {
    display: inline-block;
    border: 2px solid #aaaaaa;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 5px 5px 5px rgb(121, 121, 121);
    transition: all ease 0.5s;
}

.div_contacto a{
    text-decoration: none;
    color: black;
}

.div_contacto i {
    margin-left: 5px;
}

.div_contacto:hover {
    transform: scale(120%);
}

.columna_der {
    border: 2px solid #aaaaaa;
    border-radius: 10px;
    margin-left: 10%;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 5px 5px 5px rgb(121, 121, 121);
    transition: all ease 0.5s;
}

.columna_der:hover {
    transform: scale(120%);
}

footer {
    text-align: center;
    transition: all ease 0.5s;
    position: fixed;
    bottom: 20px;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: black;
    background-color: rgb(250, 250, 255);
    border: 2px solid #aaaaaa;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(121, 121, 121);
    padding: 10px;
}

footer:hover {
    transform: translateY(-10px);
}

.experiencia {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formacion {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.complementaria {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

table, th, td, tr {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

th {
    background-color: rgb(139, 206, 238);
    color: white;
}

td {
    background-color: #aaaaaa;
    color: white;
    
}

.experiencia a, .formacion a, .complementaria a {
    text-decoration: none;
    color: rgb(250, 250, 255);
}

.first-line th:first-of-type {
    border-top-left-radius: 10px;
}

.first-line td:last-of-type {
    border-top-right-radius: 10px;
}

.fourth-line th:first-of-type {
    border-bottom-left-radius: 10px;
}

.fourth-line td:last-of-type {
    border-bottom-right-radius: 10px;
}


.descripcion_exp {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 2px solid #aaaaaa;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(121, 121, 121);
}

.descripcion_exp h2 {
    text-align: center;
    border: 2px solid #aaaaaa;
    border-radius: 20px;
    padding: 10px;
    margin-left: 35%;
    margin-right: 35%;
}

.descripcion_exp h4 {
    border: 2px solid #aaaaaa;
    border-radius: 20px;
    padding: 10px;
    width:fit-content;
    margin: auto;
}

.desc_2019, .desc_2022, .desc_2023 {
    transition: all ease 0.5s;
}

.desc_2019:hover, .desc_2022:hover, .desc_2023:hover {
    transform: translateY(-10px);
}

.perfil_profesional * {
    text-align: center;
    margin-top: 5%;
    border: 2px solid #aaaaaa;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    margin-top: 3%;
    padding: 10px;
}

.empresas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.competencias-y-habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    margin-top: 2%;
}

.competencias ul, .habilidades ul{
    list-style-type: none;
    margin: 0;
    padding: 7%;
}

.competencias, .habilidades {
    text-align: center;
    border: 2px solid #aaaaaa;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    padding: 1%;
    height: fit-content;
    align-self: center;
    transition: all ease 0.5s;
}

.competencias:hover, .habilidades:hover {
    transform: scale(110%);
}

.to-top {
    position: fixed;
    bottom: 2%;
    right: 2%;
    border: 2px solid #aaaaaa;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(121, 121, 121);
    background-color: rgb(250, 250, 255);
    text-align: center;
    width:fit-content;
    height: fit-content;
    transition: all ease 0.5s;
}

.to-top a {
    color: black;
    text-decoration: none;
}

.to-top:hover{
    transform: translateY(-10px);
}
